<h1>Create a NYC Landmark</h1>

<form action="/landmarks" method="POST">

  Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"></input>
  <br></br>
  Year completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></input>

  <input type="submit" value="Create New Landmark">
</form>
